@model PredictionsIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Predictions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">
    <div class="row mb-3">
        <div class="col-md-4">
            <label>Match Name</label>
            <input type="text" name="search.MatchName" value="@Model.Search?.MatchName" class="form-control" placeholder="Search by match..." />
        </div>
        <div class="col-md-4">
            <label>User Email</label>
            <input type="text" name="search.UserEmail" value="@Model.Search?.UserEmail" class="form-control" placeholder="Search by user email..." />
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary form-control">Search</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Match
            </th>
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matches.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@(await Component.InvokeAsync<PagerViewComponent>(Model.Data))
