@model TournamentsIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Tournaments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">
    <div class="row mb-3">
        <div class="col-md-3">
            <label>Tournament Name</label>
            <input type="text" name="search.Name" value="@Model.Search?.Name" class="form-control" placeholder="Search by name..." />
        </div>
        <div class="col-md-3">
            <label>Description</label>
            <input type="text" name="search.Description" value="@Model.Search?.Description" class="form-control" placeholder="Search description..." />
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary form-control">Search</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Start Data
            </th>
            <th>
                End Data
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@(await Component.InvokeAsync<PagerViewComponent>(Model.Data))
